/* CSS defaults */

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif, system-ui, arial;
}

/* Container of the page */

.page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* Styles for the navigation bar and his childs*/

.navigation-bar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #473198;
}

.navigation-bar .brand-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.brand-container .brand-image {
    margin-left: 10px;
    background-color: #323232;
    border-radius: 50%;
}

.brand-container .brand-title {
    color: white;
    margin-left: 15px;
}

.list-container {
    width: 30%;
}

.list-container .list-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.list-container .item-li {
    margin: 0px 20px 0px 20px;
}

.list-container .link-a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.link-a:hover {
    color: #ddd;
    text-decoration: underline;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.search-container .search-input {
    outline: none;
    height: 30px;
    padding-left: 5px;
    border: 2px solid transparent;
    background-color: #202020;
    color: white;
}

.search-container .search-input:hover {
    border: 2px solid #3066BE;
    transition: 0.5s background-color;
}

.search-container .search-input:focus {
    border: 2px solid #3066BE;
}

.search-container .search-button {
    width: 56px;
    height: 36px;
    background-color: #0353A5;
    border: 2px solid transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-container .search-button:hover {
    display: block;
    background-color: #006DAA;
    transition: 0.5s background-color;
}

.search-container .search-button:active {
    transform: scale(.9);
}

/* Styles for main content */

.main-content {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow-x: hidden;
    gap: 20px;
}

.main-content .categories-content {
    margin: 20px 0px 0px 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    height: 45vh;
}

.categories-content .categories-title {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #333333;
}

.categories-title .category-title-icon {
    font-size: 32px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
    color: #fff;
}

.categories-title .title {
    margin: 0px 0px 0px 15px;
    color: #fff;
    font-size: 24px;
}

.categories-content .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
    font-weight: 100;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: #ccc;
    border-style: solid;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.categories-content .category:hover {
    color: #1765be;
    border-left: 4px solid #1765be;
    transition: 0.2s all;
}

.category .category-icon {
    margin: 0px 15px 0px 15px;
    font-size: 22px;
}

.section-container {
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    height: 60px;
}

.section-container .section-title {
    margin: 16.2px 0px 16.2px 0px;
}

.section-container .division {
    width: 100%;
}

.content .products-grid {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    height: auto;
}

.products-grid{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 0px 15px 0px;
}

.products-grid .product {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 10px 0px 10px 0px;
}

.products-grid .product:hover {
    cursor: pointer;
    outline: 2px solid #0353A5;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 60px;
}

.text-container .product-title {
    margin-bottom: 20px;
}

.text-container .product-about {
    margin-bottom: 5px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 5px;
}

.button-container .button {
    cursor: pointer;
    height: 35px;
    width: 90px;
    background-color: #5cb85c;
    border: 2px solid transparent;
    color: white;
    font-size: 24px;
    font-weight: 100;
}

.button-container .button:hover {
    background-color: #fff;
    border: 2px solid #5cb85c;
    color: #101010;
    transition: 0.4s all;
}

.button-container .button:active {
    transform: scale(.9);
}